.root {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2xl);
}

.results {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-m);
  overflow-y: auto;
  max-height: 600px;
}

.resultItem {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--spacing-m);
}

.resultItemLink {
  text-decoration: none;
  color: var(--neutral-900);
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}
