.root {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2xl);
}

.results {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-m);
  overflow-y: auto;
}

.resultItem {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-xl);

  .resultItemContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: var(--spacing-m);
    flex-grow: 1;

    .resultItemContentTitle {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: var(--spacing-m);
    }
  }
}

.resultItemLink {
  text-decoration: none;
  color: var(--neutral-900);
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}
