.root {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2xl);
}

.results {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-m);
  overflow-y: auto;
}




.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}
