.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-m);
  background-color: var(--neutral-100);
  padding: var(--spacing-2xl);

  .cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--spacing-xl);
  }

  .card {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-xl);
  }
}
