.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-m);
  background-color: var(--neutral-100);
  padding: var(--spacing-2xl);
  container-type: inline-size;
  container-name: home;
  height: 100%;

  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    gap: var(--spacing-xl);

    .card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: var(--spacing-xl);
      height: 400px;
    }

    .history {
      grid-column: span 2;
      max-height: 600px;
    }

    .searchByTerm {
      grid-column: span 1;
      height: 400px;
    }

    @container home (width < 600px) {
      grid-template-columns: 1fr;

      .history {
        grid-column: span 1;
      }
    }
  }
}
