:root {
  --spacing-hairline: 1px;
  --spacing-2xs: 2px;
  --spacing-xs: 6px;
  --spacing-s: 8px;
  --spacing-m: 12px;
  --spacing-l: 14px;
  --spacing-xl: 20px;
  --spacing-2xl: 24px;
  --spacing-3xl: 32px;
  --spacing-4xl: 40px;
  --spacing-5xl: 48px;
  --spacing-6xl: 56px;
  --spacing-7xl: 64px;
  --spacing-8xl: 72px;
  --spacing-9xl: 80px;
  --spacing-10xl: 88px;
  --spacing-11xl: 96px;

  --white: #ffffff;
  --neutral-100: #faf9fa;
  --neutral-200: #f2f1f3;
  --neutral-300: #e8e6ea;
  --neutral-400: #d6d2da;
  --neutral-500: #bdb7c2;
  --neutral-600: #766d7f;
  --neutral-700: #605867;
  --neutral-800: #49434e;
  --neutral-900: #1b191d;

  --purple-50: #faf5fe;
  --purple-100: #f3e9fd;
  --purple-200: #e9d7fb;
  --purple-300: #d7b5f7;
  --purple-400: #bf7bff;
  --purple-500: #9135e8;
  --purple-600: #7b1ed2;
  --purple-700: #6617b2;
  --purple-800: #53148e;
  --purple-900: #2e0058;

  --red-50: #fef6f9;
  --red-100: #fce8ef;
  --red-200: #fad6e2;
  --red-300: #f7b5cb;
  --red-400: #ff7aa7;
  --red-500: #ef6c98;
  --red-600: #e02564;
  --red-700: #b0174a;
  --red-800: #8f143d;
  --red-900: #57001d;

  --font-family: system-ui, 'Segoe UI', Roboto, sans-serif;

  --font-size-5xl: 56px;
  --font-size-4xl: 48px;
  --font-size-3xl: 40px;
  --font-size-2xl: 32px;
  --font-size-xl: 28px;
  --font-size-l: 22px;
  --font-size-m: 18px;
  --font-size-s: 16px;
  --font-size-xs: 14px;
  --font-size-2xs: 12px;

  --elevation-neutral-raised:
    0px 1px 3px 0px color-mix(in srgb, var(--neutral-900) 6%, transparent),
    0px 1px 2px 0px color-mix(in srgb, var(--neutral-900) 4%, transparent);
  --elevation-purple-raised:
    0px 4px 8px 0px color-mix(in srgb, var(--purple-900) 12%, transparent),
    0px 2px 4px 0px color-mix(in srgb, var(--purple-900) 8%, transparent);

  --animation-easing-smooth: cubic-bezier(0.4, 0, 0.6, 1);
  --animation-easing-out-quad: cubic-bezier(0.5, 1, 0.89, 1);
  --animation-easing-ease-out: cubic-bezier(0, 0, 0.2, 1);

  --animation-duration-fast: 150ms;
  --animation-duration-normal: 250ms;

  --blur-glass: 1.6px;
}
