.imageWrapper {
  position: relative;
  flex-shrink: 0;

  img {
    border-radius: var(--spacing-xs);
    object-fit: cover;
  }

  .imageHidden {
    position: absolute;
    inset: 0;
    opacity: 0;
  }
}
