.root {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xl);
  container-type: inline-size;
  container-name: history;

  .feedbackItems {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--spacing-m);
    overflow-y: auto;
    max-height: 600px;

    @container history (width > 500px) {
      grid-template-columns: 1fr 1fr;
    }
  }
}
